<h1>USER INFO</h1>
<p>Username: <%= @user.username %></p>
<p>Name: <%= @user.name %></p>
<p>ID: <%= @user.id %></p>

<h1>HOSTED EVENTS</h1>
<% if @user.hosted_events.any? %>
  <% @user.hosted_events.each do |event| %>
    <div class="event">
      <p>
        <%= link_to "#{event.event_datetime}, #{event.location}", event %>
      </p>
    </div>
  <% end %>
<% else %>
  <p>This used didn't host any event yet :(</p>
<% end %>
