<h1>UPCOMING EVENTS</h1>
<div>
  <%= render partial: 'events/event_small', collection: @events.upcoming, as: :event %>
</div>

<h1>PAST EVENTS</h1>
<div>
  <%= render partial: 'events/event_small', collection: @events.past, as: :event %>
</div>
